Обучите логистическую регрессию для предсказания того, откликнется клиент на рекламное предложение (target = 1) или нет (target = 0).

In [12]:
# подключить библиотеки
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [13]:
# считаем данные
data = pd.read_csv('ClientsData.csv')

In [14]:
data.head()

,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_DLQ_NUM,TARGET
0,49,1,0,1,2,1,5000.0,1,1,2,0
1,32,1,0,1,3,3,12000.0,1,1,1,0
2,52,1,0,1,4,0,9000.0,2,1,0,0
3,39,1,0,1,1,1,25000.0,1,1,3,0
4,30,1,0,0,0,0,12000.0,2,1,2,0

In [15]:
data.shape

(15223, 11)

In [16]:
# разделим данные на обучающую и тестовую выборки
from sklearn.model_selection import train_test_split

X = data.drop('TARGET', axis=1)
y = data['TARGET']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, train_size=0.7, random_state=123)

Обучите логистическую регрессию с параметрами по умолчанию.

In [17]:
from sklearn.linear_model import LogisticRegression

lr = # ваш код здесь

In [ ]:
# обучите модель на тренировочных данных

# сделайте предсказание на тестовых данных
prediction = ...

Посмотрим на долю правильных ответов модели.

**Полученное accuracy_score - ответ на вопрос №1 в тесте.**

Теперь предскажите вероятности классов с помощью обученной логистической регрессии на тестовых данных, и выведите вероятности положительного класса для первых 10 объектов при помощи метода predict_proba (вместо predict).

In [23]:
probs_test = ...

probs_test[:10]

**Вероятность принадлежности 0-го объекта к положительному классу - ответ на вопрос №2 в тесте.**

У обученной модели можно посмотреть веса (как и в линейной регрессии). Как и в линейной регрессии, выведите на экран веса модели (model.coef_, model.intercept_).

In [29]:
# ваш код здесь

**Наибольший по модулю вес - ответ на вопрос №3 в тесте.**

# Тест: https://docs.google.com/forms/d/e/1FAIpQLSfCPixuIrEMNYMuRNv7fRPSjsWdlPx3U3iF2dTbGY74Q7fe4g/viewform?usp=sf_link